#message-toggle {
  display: none;
}

#message-toggle:checked ~ .feedback > .container-feedback {
  right: 0;
  box-shadow: 0px 16px 52px 0px rgba(14, 24, 80, 0.2);
  z-index: 5;
}

#message-toggle:checked ~ .overlay-feedback {
  visibility: visible;
  top: 0px;
  z-index: 4;
}

#call-toggle {
  display: none;
}

#call-toggle:checked ~ .call > .container-call {
  right: 0;
  box-shadow: 0px 16px 52px 0px rgba(14, 24, 80, 0.2);
  z-index: 5;
}

#call-toggle:checked ~ .overlay-call {
  visibility: visible;
  top: 0px;
  z-index: 4;
}

.overlay-feedback,
.overlay-call {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  opacity: 0.9;
  visibility: hidden;
}

.container-aside {
  position: fixed;
  top: 0;
  right: -1120px;
  transition: right 0.6s ease;
  background-color: rgba(255, 255, 255, 1);
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .feedback__exit-feedback,
  .call__exit-call {
    margin: 24px auto 40px 16px;
  }

  .aside__title {
    font-size: 24px;
    line-height: 32px;
    padding-left: 16px;
    border-left: 4px solid rgba(65, 246, 215, 1);
    border-radius: 2px;
  }

  .header-feedback,
  .header-call {
    display: flex;
    flex-direction: column;
  }

  .form-feedback,
  .form-call {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 16px 16px;
    gap: 16px;

    &__group {
      position: relative;
      .form__input {
        width: 100%;
        height: 48px;
        border: 1px solid rgba(234, 234, 234, 1);
        border-radius: 8px;
        font-size: 17px;
        padding-left: 16px;
      }

      .form__input::placeholder {
        color: rgba(181, 182, 188, 1);
      }

      .form__label {
        position: absolute;
        top: 12px;
        left: 16px;
        color: rgba(181, 182, 188, 1);
      }

      .form-feedback__textarea {
        border: 1px solid rgba(234, 234, 234, 1);
        border-radius: 8px;
        padding-left: 16px;
        padding-top: 12px;
      }

      .form-feedback__textarea::placeholder {
        color: rgba(181, 182, 188, 1);
        font-size: 16px;
      }
    }
  }

  .form__container-text {
    padding-left: 16px;
    line-height: 0.9;

    .form__text {
      font-size: 14px;
      color: rgba(126, 126, 130, 1);
      font-size: 14px;

      a {
        color: var(--color-red);
      }
      a:hover {
        cursor: pointer;
      }
    }
  }

  .form-feedback__container-button,
  .form-call__container-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 16px;
    margin-top: 19px;
    margin-bottom: 75px;

    .form__button {
      display: flex;
      flex-direction: row;
      height: 32px;
      width: 136px;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1;
      color: var(--color-white);
      background-color: var(--color-red);
    }

    .form__button:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 551px) {
  .container-aside {
    width: 440px;
  }

  .feedback__exit-feedback,
  .call__exit-call {
    position: absolute;
    top: 14px;
    left: -80px;
    z-index: 6;
  }

  .aside__title {
    margin-top: 40px;
  }

  .form-feedback__textarea {
    width: 100%;
  }
}
