@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/Font-tt-lakes/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/Font-tt-lakes/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/Font-tt-lakes/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 769px) {
  .wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
  }
}
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-red: rgba(255, 62, 121, 1);
  --color-black: rgba(27, 28, 33, 1);
  --color-grey: rgba(126, 126, 130, 1);
  --color-light-green: rgba(65, 246, 215, 1);
  --color-border-green: rgba(184, 255, 236, 1);
  --color-light-grey: rgba(248, 248, 248, 1);
  --color-border-grey: rgba(234, 234, 234, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: TT Lakes, serif;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  text-decoration: none;
  color: rgb(126, 126, 130);
}

ul li {
  list-style: none;
}

body {
  font-size: 16px;
  max-height: 100vh;
  max-width: 100%;
  position: relative;
}

h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.200000003px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgb(27, 28, 33);
  font-weight: 400;
}

button {
  background-color: var(--color-white);
}

.site-main {
  flex: 1 1 auto;
}
.site-main__section-info {
  padding: 0 0;
  background-color: var(--color-light-grey);
}
.site-main__section-info .block-title {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.site-main__section-info .block-title .block-title__container {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
.site-main__section-info .block-title .block-title__container .block-title__container--visible-on-1120 {
  display: none;
}
.site-main__section-info .block-title--aqua-stick {
  width: 4px;
  height: 40px;
  background-color: var(--color-light-green);
  border-radius: 3px;
  margin-right: 12px;
}
.site-main__section-info .block-title .block-title__services-list {
  margin-top: 24px;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}
.site-main__section-info .block-title .block-title__services-list li:first-child {
  background-color: white;
  border-radius: 2px;
  border: 2px solid var(--color-border-green);
  color: var(--color-grey);
}
.site-main__section-info .block-title .block-title__services-list .services-list__options {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  white-space: nowrap;
  font-weight: 500;
}
.site-main__section-info .block-title .block-title__services-list .services-list__options:hover {
  background-color: white;
  border-radius: 2px;
  border: 2px solid var(--color-border-green);
  cursor: pointer;
  color: var(rgb(126, 126, 130));
}
.site-main__section-info .block-about-company {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.site-main__section-info .block-about-company__text {
  padding: 0 16px 0 16px;
  font-weight: 400;
  color: rgb(27, 28, 33);
}
.site-main__section-info .block-about-company__readmore {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 10px;
  gap: 6px;
}
.site-main__section-info .block-about-company__readmore-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: left;
}
.site-main__section-info .block-about-company .block-about-company__text--text-for-768 {
  display: none;
}
.site-main__section-info .block-about-company .block-about-company__text--text-for-1120 {
  display: none;
}

.swiper-wrapper {
  background-color: var(--color-light-grey);
}

.swiper-slide {
  background-color: var(--color-light-grey);
}

.swiper-pagination {
  bottom: -5px !important;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--color-light-grey);
  padding: 16px;
  gap: 20px;
}
.bottom-text__link {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  color: rgb(27, 28, 33);
}

@media (max-width: 768px) and (min-width: 551px) {
  .site-main__section-info .block-title {
    padding-top: 32px;
  }
  .site-main__section-info .block-title--aqua-stick {
    margin-right: 24px;
  }
  .site-main__section-info .block-title__services-list {
    margin-top: 32px;
    margin-left: 16px;
  }
  .site-main__section-info .block-about-company {
    margin-top: 32px;
    flex-direction: row;
  }
  .site-main__section-info .block-about-company__text {
    padding-left: 24px;
  }
  .site-main__section-info .block-about-company__text--text-for-768 {
    display: block;
    margin-top: 20px;
    text-align: left;
    transition: 0.7;
  }
  .site-main__section-info .block-about-company__readmore {
    margin: 24px 0 24px 10px;
  }
  .site-main__section-info .block-about-company__container-logo {
    display: block;
  }
  .site-main__section-info .block-about-company__logo {
    border-radius: 5px;
  }
  .bottom-text {
    padding: 32px;
  }
  .bottom-text p {
    text-align: left;
    width: 500px;
  }
}
@media (min-width: 769px) {
  .site-main {
    background-color: var(--color-light-grey);
  }
  .site-main .block-title {
    margin-top: 42px;
    padding-top: 0px;
    max-width: 1120px;
  }
  .site-main .block-title__container--visible-on-1120 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1 1 auto;
    margin-right: 18px;
  }
  .site-main .block-title--button-for-1120 {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.200000003px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .site-main .block-title--aqua-stick {
    margin-right: 32px;
  }
  .site-main .block-title__services-list {
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 18px;
  }
  .site-main .setting-and-search-1120 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-light-grey);
  }
  .site-main .site-main__section-info .block-about-company {
    margin-top: 32px;
    flex-direction: row;
    max-width: 1366px;
  }
  .site-main .site-main__section-info .block-about-company__text {
    padding-left: 32px;
  }
  .site-main .site-main__section-info .block-about-company__readmore {
    margin: 24px 0 24px 24px;
  }
  .site-main .site-main__section-info .block-about-company__container-logo {
    display: block;
  }
  .site-main .site-main__section-info .block-about-company__logo {
    min-width: 531px;
    border-radius: 10px;
    margin-right: 18px;
  }
  .site-main .site-main__section-info .block-about-company__text--text-for-768 {
    display: block;
    margin-top: 30px;
    text-align: left;
  }
  .site-main .site-main__section-info .block-about-company__text--text-for-1120 {
    display: block;
  }
  .site-main .bottom-text {
    padding: 32px;
  }
  .site-main .bottom-text p {
    text-align: left;
    width: 500px;
  }
}
@media (min-width: 400px) and (max-width: 550.89px) {
  .block-about-company__container-logo {
    display: flex;
    justify-content: center;
  }
}
.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  padding: 0 16px 0 16px;
}
.site-header__container .site-header__menu:hover {
  opacity: 1;
  transform: translate(2px, -2px);
}
.site-header__container .site-header__greystick {
  width: 2px;
  height: 32px;
  background-color: rgb(234, 234, 234);
}
.site-header__container .site-header__greystick--hidden {
  display: none;
}
.site-header__container .site-header__container--visible-on-768 {
  display: none;
}

#burger-toggle {
  display: none;
}

#burger-toggle:checked ~ .mobile-menu .container-mobile-menu {
  left: 0;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  z-index: 3;
}

#burger-toggle:checked ~ .mobile-menu .overlay-mobile-menu {
  visibility: visible;
  top: 0px;
  z-index: 2;
}

#exit-mobile-menu {
  display: none;
}

@media (max-width: 768px) and (min-width: 551px) {
  .site-header__container {
    gap: 16px;
    padding: 0 32px 0 32px;
  }
  .site-header__container .site-header__greystick--hidden {
    display: block;
  }
  .site-header__container .site-header__container--visible-on-768 {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: 16px;
  }
}
@media (min-width: 769px) {
  .site-header {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 550.89px) {
  .site-header__container {
    justify-content: center;
    column-gap: 15px;
  }
  .site-header__container .site-header__greystick {
    margin-right: 5em;
  }
  .site-header__container .site-header__setting {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
.block-wrapper {
  background-color: var(--color-light-grey);
}

.blocks-titles-containers {
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  min-height: 56px;
  background: linear-gradient(45deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 2px solid var(--color-light-green);
}

.blocks-lists-containers {
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  padding: 16px 16px 16px 16px;
  background-color: var(--color-light-grey);
  overflow: scroll;
}

.title-container__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: rgb(126, 126, 130);
}

#block-brand__button--show-hide {
  display: none;
}

.block-brand__brand-container {
  display: none;
}
.block-brand__brand-container .block-brand__item {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 12px 16px 12px 16px;
  border: 1px solid var(--color-border-grey);
  border-radius: 6px;
  cursor: pointer;
}
.block-brand__brand-container .block-brand__item .block-brand__circle-red {
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--color-red);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.block-brand__label-show-more {
  cursor: pointer;
  display: inline-block;
}
.block-brand__label-show-more .block-brand__button-show-or-hide {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 32px;
  background-color: var(--color-light-grey);
}

.swiper-wrapper {
  background-color: var(--color-light-grey);
}
.swiper-wrapper .swiper-slide__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: var(--color-white);
  margin: 16px 16px 20px;
  border: 1px solid var(--color-border-grey);
  border-radius: 6px;
  cursor: pointer;
}
.swiper-wrapper .swiper-slide__block .block-brand__circle-red {
  padding: 11px 16px 11px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--color-red);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 551px) {
  .blocks-titles-containers {
    padding: 16px 24px 16px 24px;
  }
  .block-brand__brand-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 24px 24px 24px;
    column-gap: 24px;
    row-gap: 16px;
    overflow: hidden;
    max-height: 180px;
  }
  .block-brand__brand-container .block-brand__item {
    min-width: 201px;
    flex: 1;
  }
  .block-brand__label-show-more .block-brand__button-show-or-hide {
    display: flex;
    margin-left: 24px;
    pointer-events: none;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .block-brand__label-show-more .block-brand__button-show-or-hide .block-brand__button--hide {
    display: none;
  }
  #block-brand__button--show-hide {
    display: none;
  }
  #block-brand__button--show-hide:checked ~ .block-brand__brand-container {
    max-height: 100%;
  }
  #block-brand__button--show-hide:checked ~ .block-brand__label-show-more > .block-brand__button-show-or-hide > .arrow-down {
    transform: rotate(180deg);
  }
  #block-brand__button--show-hide:checked ~ .block-brand__label-show-more > .block-brand__button-show-or-hide > .block-brand__button--show {
    display: none;
  }
  #block-brand__button--show-hide:checked ~ .block-brand__label-show-more > .block-brand__button-show-or-hide > .block-brand__button--hide {
    display: block;
  }
  #swiper-brands {
    display: none;
  }
  #swiper-devices {
    display: none;
  }
  #swiper-service-price {
    display: none;
  }
}
@media (min-width: 769px) {
  .blocks-titles-containers {
    padding: 16px 32px 16px 32px;
  }
  .block-brand__brand-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    padding: 24px 32px 24px 32px;
    background-color: var(--color-light-grey);
    overflow: hidden;
    max-height: 190px;
  }
  .block-brand__brand-container .block-brand__item {
    flex: 1;
  }
  .block-brand__label-show-more .block-brand__button--hide {
    display: none;
  }
  .block-brand__label-show-more .block-brand__button-show-or-hide {
    display: flex;
    pointer-events: none;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  #block-brand__button--show-hide {
    display: none;
  }
  #block-brand__button--show-hide:checked ~ .block-brand__brand-container {
    max-height: 100%;
  }
  #block-brand__button--show-hide:checked ~ .block-brand__label-show-more > .block-brand__button-show-or-hide > .arrow-down {
    transform: rotate(180deg);
  }
  #block-brand__button--show-hide:checked ~ .block-brand__label-show-more > .block-brand__button-show-or-hide > .block-brand__button--show {
    display: none;
  }
  #block-brand__button--show-hide:checked ~ .block-brand__label-show-more > .block-brand__button-show-or-hide > .block-brand__button--hide {
    display: block;
  }
  #swiper-brands {
    display: none;
  }
  #swiper-devices {
    display: none;
  }
  #swiper-service-price {
    display: none;
  }
}
#block-devices__button--show-hide {
  display: none;
}

.blocks-lists-containers {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
  padding: 24px 32px 24px 32px;
  background-color: var(--color-light-grey);
  overflow: hidden;
  max-height: 190px;
}

.block-devices__devices-container {
  display: none;
}
.block-devices__devices-container .block-devices__item {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  min-height: 160px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 16px;
  border: 1px solid var(--color-border-grey);
  border-radius: 4px;
  cursor: pointer;
}
.block-devices__devices-container .block-devices__item .devices-item__text {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 500;
}
.block-devices__devices-container .block-devices__item .devices-item__next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--color-red);
  width: 40px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
}

.block-devices__label-show-more {
  cursor: pointer;
  display: inline-block;
}
.block-devices__label-show-more .block-devices__button-show-or-hide {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 32px;
  background-color: var(--color-light-grey);
}

.swiper-slide__block-devices {
  min-width: 240px;
  min-height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: var(--color-white);
  margin: 16px 16px 20px;
  border: 1px solid var(--color-border-grey);
  border-radius: 6px;
}
.swiper-slide__block-devices .devices-item__next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--color-red);
  width: 40px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 551px) {
  .block-devices__devices-container {
    display: flex;
    max-height: 180px;
  }
  .block-devices__devices-container .block-devices__item {
    min-width: 200px;
    flex: 1;
  }
  .block-devices__label-show-more .block-devices__button-show-or-hide {
    display: flex;
    margin-left: 24px;
    pointer-events: none;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .block-devices__label-show-more .block-devices__button-show-or-hide .block-devices__button--hide {
    display: none;
  }
  #block-devices__button--show-hide {
    display: none;
  }
  #block-devices__button--show-hide:checked ~ .block-devices__devices-container {
    max-height: 100%;
  }
  #block-devices__button--show-hide:checked ~ .block-devices__label-show-more > .block-devices__button-show-or-hide > .arrow-down {
    transform: rotate(180deg);
  }
  #block-devices__button--show-hide:checked ~ .block-devices__label-show-more > .block-devices__button-show-or-hide > .block-devices__button--show {
    display: none;
  }
  #block-devices__button--show-hide:checked ~ .block-devices__label-show-more > .block-devices__button-show-or-hide > .block-devices__button--hide {
    display: block;
  }
  #swiper-brands {
    display: none;
  }
  #swiper-devices {
    display: none;
  }
  #swiper-service-price {
    display: none;
  }
}
@media (min-width: 769px) {
  .block-devices__devices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    padding: 24px 32px 24px 32px;
    background-color: var(--color-light-grey);
    overflow: hidden;
    max-height: 190px;
  }
  .block-devices__devices-container .block-devices__item {
    flex: 1;
  }
  .block-devices__label-show-more .block-devices__button-show-or-hide {
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 32px;
    pointer-events: none;
  }
  .block-devices__label-show-more .block-devices__button-show-or-hide .block-devices__button--hide {
    display: none;
  }
  #block-devices__button--show-hide {
    display: none;
  }
  #block-devices__button--show-hide:checked ~ .block-devices__devices-container {
    max-height: 100%;
  }
  #block-devices__button--show-hide:checked ~ .block-devices__label-show-more > .block-devices__button-show-or-hide > .arrow-down {
    transform: rotate(180deg);
  }
  #block-devices__button--show-hide:checked ~ .block-devices__label-show-more > .block-devices__button-show-or-hide > .block-devices__button--show {
    display: none;
  }
  #block-devices__button--show-hide:checked ~ .block-devices__label-show-more > .block-devices__button-show-or-hide > .block-devices__button--hide {
    display: block;
  }
  #swiper-brands {
    display: none;
  }
  #swiper-devices {
    display: none;
  }
  #swiper-service-price {
    display: none;
  }
}
#message-toggle {
  display: none;
}

#message-toggle:checked ~ .container-feedback {
  right: 0;
  box-shadow: 0px 16px 52px 0px rgba(14, 24, 80, 0.2);
  z-index: 5;
}

#message-toggle:checked ~ .overlay-feedback {
  visibility: visible;
  top: 0px;
  z-index: 4;
}

.overlay-feedback {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  opacity: 0.9;
  visibility: hidden;
}

.container-feedback {
  position: fixed;
  top: 0;
  right: -1120px;
  transition: right 0.6s ease;
  background-color: rgb(255, 255, 255);
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-feedback .feedback__exit-feedback {
  margin: 24px auto 40px 16px;
}
.container-feedback .header-feedback {
  display: flex;
  flex-direction: column;
}
.container-feedback .header-feedback__title {
  font-size: 24px;
  line-height: 32px;
  padding-left: 16px;
  border-left: 4px solid rgb(65, 246, 215);
  border-radius: 2px;
}
.container-feedback .form-feedback {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 16px 16px;
  gap: 16px;
}
.container-feedback .form-feedback__group {
  position: relative;
}
.container-feedback .form-feedback__group .form-feedback__input {
  width: 100%;
  height: 48px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 8px;
  font-size: 17px;
}
.container-feedback .form-feedback__group .form-feedback__label {
  position: absolute;
  top: 12px;
  left: 16px;
  color: rgb(181, 182, 188);
}
.container-feedback .form-feedback__group .form-feedback__textarea {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 8px;
}
.container-feedback .form-feedback__group .form-feedback__textarea:focus ~ .form-feedback__label {
  display: none;
}
.container-feedback .form-feedback__group .form-feedback__input:focus ~ .form-feedback__label {
  display: none;
}
.container-feedback .form-feedback__container-text {
  padding-left: 16px;
  line-height: 0.9;
}
.container-feedback .form-feedback__container-text .form-feedback__text {
  font-size: 14px;
  color: rgb(126, 126, 130);
  font-size: 14px;
}
.container-feedback .form-feedback__container-text .form-feedback__text a {
  color: var(--color-red);
}
.container-feedback .form-feedback__container-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 16px;
  margin-top: 19px;
  margin-bottom: 75px;
}
.container-feedback .form-feedback__container-button .form-feedback__button {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 136px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1;
  color: var(--color-white);
  background-color: var(--color-red);
}

@media (min-width: 551px) {
  .container-feedback {
    width: 440px;
  }
  .feedback__exit-feedback {
    position: absolute;
    top: 14px;
    left: -80px;
    z-index: 6;
  }
  .header-feedback__title {
    margin-top: 40px;
  }
  .form-feedback__textarea {
    width: 100%;
  }
}
.mobile-menu .overlay-mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  opacity: 0.8;
  visibility: hidden;
}
.mobile-menu .container-mobile-menu {
  position: fixed;
  top: 0;
  transition: left 0.6s ease;
  left: -325px;
  background-color: var(--color-white);
  min-width: 320px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.mobile-menu .container-mobile-menu .header-mobile-menu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px 50px 24px;
  gap: 16px;
}
.mobile-menu .container-mobile-menu .header-mobile-menu__search {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: flex-end;
}
.mobile-menu .container-mobile-menu .main-mobile-menu .main-mobile-menu__container .main-mobile-menu__list-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.mobile-menu .container-mobile-menu .main-mobile-menu .main-mobile-menu__container .main-mobile-menu__list-menu li {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: var(--color-black);
  font-weight: 500;
  padding-left: 24px;
  border: 5px solid var(--color-white);
}
.mobile-menu .container-mobile-menu .main-mobile-menu .main-mobile-menu__container .main-mobile-menu__list-menu li:first-child {
  color: rgb(126, 126, 130);
  border-left: 4px solid var(--color-light-green);
  border-radius: 3px;
}
.mobile-menu .container-mobile-menu .main-mobile-menu .main-mobile-menu__container .main-mobile-menu__list-menu li:hover {
  color: rgb(126, 126, 130);
  border-left: 4px solid var(--color-light-green);
  border-radius: 3px;
  cursor: pointer;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 24px;
  margin-top: 32px;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__email-container .footer-mobile-menu__email {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: var(--color-black);
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__phone-number-container .footer-mobile-menu__phone-number {
  font-size: 24px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__list-language-container .footer-mobile-menu__list-language {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 40px;
  margin-bottom: 32px;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__list-language-container .footer-mobile-menu__list-language li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: left;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__list-language-container .footer-mobile-menu__list-language li:first-child {
  color: rgb(126, 126, 130);
  cursor: pointer;
}
.mobile-menu .container-mobile-menu .footer-mobile-menu .footer-mobile-menu__container .footer-mobile-menu__list-language-container .footer-mobile-menu__list-language li:hover {
  color: rgb(126, 126, 130);
  cursor: pointer;
}

@media (max-width: 768px) and (min-width: 551px) {
  .footer-mobile-menu {
    margin-top: 268px;
  }
}
@media (min-width: 1366px) {
  /* aside menu */
  .mobile-menu {
    min-width: 320px;
  }
  .mobile-menu .container-mobile-menu {
    position: static;
    overflow: hidden;
    box-shadow: none;
    z-index: none;
  }
  .mobile-menu .container-mobile-menu .header-mobile-menu__container {
    justify-content: space-between;
    padding: 32px 24px 50px 24px;
  }
  .mobile-menu .container-mobile-menu .header-mobile-menu__container .header-mobile-menu__exit-mobile-menu {
    display: none;
  }
  .mobile-menu .container-mobile-menu .footer-mobile-menu__container {
    margin-top: 241px;
  }
}
.service-price-item__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 119px;
  height: 32px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 500;
  gap: 8px;
  border-radius: 16px;
}

.service-price {
  background-color: var(--color-light-grey);
}

.service-price__container {
  display: none;
}

.service-price__title {
  border-top: 2px solid var(--color-border-green);
  padding: 16px;
  font-size: 16px;
  color: var(--color-grey);
  background: linear-gradient(45deg, #f8f8f8 0%, #ffffff 98.61%);
}

.service-price__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  background-color: var(--color-white);
  margin: 16px;
  padding: 16px;
  border-radius: 6px;
}
.service-price__item .service-price-item__title {
  color: var(--color-grey);
}

.service-price-item__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) and (min-width: 551px) {
  .service-price__title {
    padding: 16px;
    font-size: 16px;
    color: var(--color-grey);
    background: linear-gradient(45deg, #f8f8f8 0%, #ffffff 98.61%);
  }
  .service-price__container {
    display: flex;
    flex-direction: column;
    margin: 30px 24px 0px 24px;
    background-color: var(--color-white);
  }
  .service-price__container .service-price__top {
    display: flex;
    flex-direction: row;
    background-color: var(--color-light-grey);
    padding-left: 16px;
    padding-bottom: 16px;
  }
  .service-price__container .service-price__top span {
    flex: 1 1 auto;
    text-align: left;
    font-size: 14px;
    color: var(--color-grey);
  }
  .service-price__container .service-price__top span:first-child {
    flex: 1.9;
  }
  .service-price__container .service-price__top span:last-child {
    flex: 2;
  }
  .service-price__container .service-price__item:nth-child(2) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .service-price__container .service-price__item:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom: 0px solid;
  }
  .service-price__container .service-price__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 16px 0px 16px;
    padding: 24px 0px 24px 0px;
    border-radius: 0;
    border-bottom: 2px solid var(--color-light-grey);
  }
  .service-price__container .service-price__item span {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-start;
    font-size: 14px;
  }
  .service-price__container .service-price__item span:first-child {
    flex: 3;
    padding-right: 10px;
  }
}
@media (min-width: 769px) {
  .service-price__title {
    padding: 32px;
    font-size: 16px;
    color: var(--color-grey);
  }
  .service-price__container {
    display: flex;
    flex-direction: column;
    margin: 30px 32px 0px 32px;
    background-color: var(--color-white);
  }
  .service-price__container .service-price__top {
    display: flex;
    flex-direction: row;
    background-color: var(--color-light-grey);
    padding-left: 24px;
    padding-bottom: 16px;
  }
  .service-price__container .service-price__top span {
    flex: 1 1 auto;
    text-align: left;
    font-size: 14px;
    color: var(--color-grey);
  }
  .service-price__container .service-price__top span:first-child {
    flex: 1.8;
  }
  .service-price__container .service-price__top span:last-child {
    flex: 2;
  }
  .service-price__container .service-price__item:nth-child(2) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .service-price__container .service-price__item:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom: 0px solid;
  }
  .service-price__container .service-price__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 24px 0px 24px;
    padding: 24px 0px 24px 0px;
    border-radius: 0;
    border-bottom: 2px solid var(--color-border-grey);
  }
  .service-price__container .service-price__item span {
    display: flex;
    align-items: center;
    font-size: 14px;
    flex: 1 1 auto;
    text-align: left;
  }
  .service-price__container .service-price__item span:first-child {
    flex: 2;
  }
}

/*# sourceMappingURL=style.css.map */