:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-red: rgba(255, 62, 121, 1);
  --color-black: rgba(27, 28, 33, 1);
  --color-grey: rgba(126, 126, 130, 1);
  --color-light-green: rgba(65, 246, 215, 1);
  --color-border-green: rgba(184, 255, 236, 1);
  --color-light-grey: rgba(248, 248, 248, 1);
  --color-border-grey: rgba(234, 234, 234, 1);
}
